h1, p {
  text-align: center;
}

li:hover {
  background-color: red;
}

li:active {
  color: antiquewhite;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}

ul, ol {
  list-style: none;
}